.definitions__header {
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--grey-1);
}

.definitions__heading {
    margin-right: 1.5rem;
}

.definitions__download-button {
    margin-bottom: .8rem;
    border-radius: 1.25rem;
    padding: .6rem 1rem .625rem;
    background-color: var(--red-orange);
    font-size: 1.1rem;
    transition: all .15s ease-in-out;
}

.definitions__download-button:hover {
    background-color: #833027;
    transition: all .07s ease-in-out
}

.definitions__download-button:focus {
    outline: none;
    box-shadow: none;
    background-color: #772522;
    transition: all .03s ease-in-out
}

.definitions__explanation {
    border-left: 3px solid var(--grey-3);
    padding: .5rem .75rem .65rem;
}

.definitions__table {
    margin-bottom: 1rem;
    border: 2px solid var(--dark-orange);
    background-color: var(--near-white);
    color: var(--near-black);
}

.definitions__table-headings {
    background-color: var(--red-orange);
    color: white;
}

.definitions__table-headings h5 {
    font-weight: bold;
}

.definitions__table-row {
    padding: .5rem .5rem .65rem;
}

.definitions__table-row dt {
    font-weight: normal;
}

.definitions__table dl,
.definitions__table dt,
.definitions__table dd,
.definitions__table h5 {
    margin-bottom: 0;
}

.definitions__table-row:nth-child(2n + 1):not(.definitions__table-headings) {
    background-color: #d2472666;
}