.hero__image {
  /* Use "linear-grapdient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bridge-highway-river-transport-dam-reservoir-243401-lg.jpg");

  /* Set a specific height */
  height: calc(100vh - (1.25rem + .5rem + .5rem));

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__headline {
  margin-bottom: 0;
  text-align: left;
  font-size: 12vh;
}

@media screen and (max-width: 1024px) {
  .hero__headline {
    font-size: 6vh;
  }
}

.hero__underline {
  margin-top: 0;
  margin-bottom: .25rem;
  border-color: #cacacadd;
}

.hero__text {
  margin-bottom: 1.5rem;
  height: fit-content;
  padding: 1.5rem 2.5rem 1.65rem;
	text-align: center;
  color: white;
}

.hero__text h1 {
  text-align: center;
}

.hero__text ul {
	list-style: bullet;
  list-style-position: inside;
  font-size: large;
}