.map-section {
    margin-bottom: 3.25rem;
}

.map-section__dropdown-instruction {
    text-align: right;
    color: var(--grey-2);
}

.map-section__map-container {
    box-shadow: 0 0 1px 1px var(--grey-2);
}
