.story {
    margin-top: 3.5rem;
    font-size: 1.25rem;
}

.story__line {
    margin-bottom: 3rem;
    padding: .5rem;
}

.story__line>p {
    margin-bottom: 2rem;
}

.story__line-1 .story__img-container {
    text-align: center;
}

.story__line-2 .story__img-container {
    text-align: right;
}

.story__line-3 .story__img-container {
    text-align: center;
}

.story__line-1 .story__img,
.story__line-2 .story__img {
    width: 300px;
}

.story__line-3 .story__img {
    width: 450px;
}

a.story__report-link {
    color: #b6b6b6;
}

a.story__report-link:hover {
    color: #feb24c;
}